@import '_variables.scss';

dl {
  display: inline-flex;
  padding: 0;
  margin: 0;
  dt{
    color: $c-lighter;
    display: inline-block;
    width: 20%;
    &::after {
      content: ":";
    }
  }
  dd{
    color: $c-medium;
    display: inline-block;
    width: 79%;
    margin: 0;
    padding: 0;
  }
}