// Global Palette
//------------------

// Base colors - e.g. background
$base-color: #F8F9FD;
// Base color variants - e.g. panels background
$base-darker: #EDF2F6;
$base-lighter:  #FFFFFF;

// Contrast colors
// e.g. strongest text
$c-strongest: #1A202C;
// e.g. strong text
$c-strong: #2E3748;
// e.g. medium text
$c-medium: #4A5567;
// e.g. subtle text & borders
$c-light: #718097;

// Accent color — e.g. links or CTA buttons
$accent-color: #2C6DFF;
// Accent color variant — e.g. hover state of links or CTA buttons
$accent-color-alt: #064EF2;


// Border radius - e.g. panels
$border-radius-sm: 0.25rem;
// Border radius – e.g. cards or buttons
$border-radius-md: 0.5rem;