@import '_variables.scss';

body {
  background-color: $base-color;
}
.mono {
  font-family: monospace;
  font-weight: normal;
}

.test-items-controller{
  background: $c-medium;
  color: $base-color;
  padding-bottom: 2rem;
}

.related-cards-container{
  display: flex;
  flex-wrap: wrap
}
